header {
  display:flex;
  flex-direction:column;
  padding: 30px 0 30px 0;
  background: Black;
  color: #fff;
}

header h1 {
  text-align:center;
  display: inline;
  font-weight:300;
}

/* .search-area{
  display:flex;
  flex-direction:column;
} */

form {
  padding: 10px;
  font-size: 17px;
  width: 50%;
}

form input{
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  width: 50%;
  background: #f1f1f1;
}

button{
  margin:10px;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  background: #f1f1f1;
}

.bookList{
  margin-left:1em;
}

 .bodyBookInfo{
  padding: 50px;
  border-bottom: 1px solid red;
}

/* .searchedBooks{
  display:flex;
  flex-direction:column;
  margin-top:4em;
} */

.readingList{
  display:flex;
  flex-direction:column;
}
